<div id="footer">
  <div class="container">
    <p class="text-muted">
      Running on <a class="" href="http://rubyonrails.org">Rails 4</a>, enhanced with <a class="" href="http://getbootstrap.com">Bootstrap 3</a>, and hosted by <a class="" href="http://heroku.com">Heroku</a>.
    </p>
  </div>
</div>