<div id="footer">
  <div class="container">
    <p class="text-muted small">
      Running on <a class="" href="http://rubyonrails.org">Rails 4</a>, enhanced with <a class="" href="http://getbootstrap.com">Bootstrap 3</a>, and hosted by <a class="" href="http://heroku.com">Heroku</a>.
    </p>
    <p class="text-muted small">
      <b>&copy;</b> 2014 <b>Matt Odille</b>
    </p>
  </div>
</div>